<!-- fragments/head.html -->
<!-- Contient un paramètre qui affichera le titre perso de la page sinon Page -->
<head th:fragment="head(titre)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${titre}">Page</title>

    <!-- Colormodes  -->
    <script th:src="@{/js/color-modes.js}" defer></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <!-- CSS personnalisé -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
